<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.css" crossorigin="anonymous">
    </head>
    <body>

        <div class="container">

            <div class="form-group">
                <label 
                class="col-form-label" 
                for="inputDefault">Pick your zodiac sign
                </label>
            </div>

            <div class="form-group" margin="20px">
                <form action="/horoscope" method="post">
                    <select 
                    id="zodiac_sign" 
                    name= "zodiac_sign" 
                    class="custom-select">
                    {% for zodiac_sign in zodiac_signs %}
                        <option>{{ zodiac_sign }}</option>
                    {% endfor %}
                    </select>
                    <button type="submit" name="sign" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </body>
</html>