<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.css" crossorigin="anonymous">
    </head>
    <body>

        &nbsp;

        <div class="container">

            <div class="jumbotron">

                <h1 class="display-3">Welcome to your daily horoscope!</h1>
            
                <div>
                    <h3>Pick your zodiac sign</h3>
                </div>

                <div class="form-group">
                    <form action="/horoscope" method="post">
                        <select 
                        id="zodiac_sign" 
                        name= "zodiac_sign" 
                        class="custom-select">
                        {% for zodiac_sign in zodiac_signs %}
                            <option>{{ zodiac_sign }}</option>
                        {% endfor %}
                        </select>
                        <div class="container">
                            <button type="submit" name="sign" class="btn">Submit</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </body>
</html>